* {
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header, .footer {
  width: 100vw;
  height: 100px;
  background-color: #01161e;
}

.header img {
  height: 80px;
	filter: invert(100%);
}

.main-cont {
  height: calc(100vh - 200px);
  width: 100vw;
  background-color: #124e78;
}

.form-cont {
  color: #01161e;
  width: 400px;
  height: 300px;
  background-color: #fff;
  flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}