<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BMI Calc</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
</head>
<body>
<div>
    <header class="header center">
        <h1>BMI <img src="https://png.pngtree.com/svg/20161017/6e1b86c79c.svg"/> CALC</h1>
    </header>
    <div class="main-cont center">
        <div class="form-cont center">
            <form role="form" th:action="@{/admin/home}"
                  th:object="${result}}" method="post">
                <div class="form-group">
                    <label for="height"> height </label>
                    <input class="form-control" name="height" th:field="*{height}" id="height" placeholder="...cm"/>
                </div>
                <div class="form-field">
                    <label>weight</label>
                    <input type="number" placeholder="...kg"/>
                </div>
                <div class="form-field">
                    <label>sex</label>
                    <select>
                        <option value="male">male</option>
                        <option value="female">female</option>
                    </select>
                </div>
                <div>
                    <input type="submit" value="Calc me!"/>
                </div>

            </form>
            <div>
                <label>your score</label>
                <input type="number" disabled="true" value=""/>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span th:utext="${userName}"></span>
                </div>
                <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
            </div>
        </div>
    </div>
    <footer class="footer center">
        <h2>Made by Rafal Janeczek &reg; 2019</h2>
    </footer>
</div>
</body>
</html>