<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BMI Calc</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
</head>
<body>
<div>
    <header class="header center">
        <h1>BMI <img src="https://png.pngtree.com/svg/20161017/6e1b86c79c.svg"/> CALC</h1>
    </header>
    <div class="main-cont center">
        <div class="form-cont center">
            <form role="form" th:action="@{/admin/home}"
                  th:object="${result}" method="post">
                <div class="form-group">
                    <label for="height">height </label>
                    <input class="form-control" name="height" th:field="*{height}" id="height" placeholder="....cm">
                </div>
                <div class="form-group">
                    <label for="weight"> weight </label>
                    <input class="form-control" name="weight" th:field="*{weight}" id="weight" placeholder="....kg">
                </div>
<!--                <div class="form-field">-->
<!--                    <br/><br/>-->
<!--                    <input type="radio" name="sex" th:value="male"/> male<br/>-->
<!--                    <input type="radio" name="sex" th:value="female"/> female<br/>-->
<!--                    <br/><br/>-->
<!--                </div>-->
                <div class="form group">
                    <label>your score is:</label>
                    <output type="number" name="score" th:text="${BMIresult}"></output>
                </div>
                <div class="form group">
                    <output type="text" name="score" th:text="${BMIMessage}"></output>
                </div>
                <div class="col-sm-9">
                    <button type="submit" class="btn btn-primary"> Get result</button>
                </div>
            </form>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span th:utext="${userName}"></span>
                </div>
                <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
            </div>
        </div>
    </div>
    <footer class="footer center">
        <h2>Made by Rafal Janeczek &reg; 2019</h2>
    </footer>
</div>
</body>
</html>