* {
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header, .footer {
  width: 100vw;
  height: 100px;
  background-color: #01161e;
}

.header img {
  height: 80px;
	filter: invert(100%);
}

.main-cont {
  height: calc(100vh - 200px);
  width: 100vw;
  background-color: #124e78;
}

.form-cont {
  color: #01161e;
  width: 400px;
  height: 300px;
  background-color: #fff;
  flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoutButton {
	background-color:#44c767;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:10px 23px;
	text-decoration:none;
	text-shadow:0px 1px 7px #2f6627;
}
.logoutButton:hover {
	background-color:#5cbf2a;
}
.logoutButton:active {
	position:relative;
	top:1px;
}

.getResultButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:8px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.getResultButton:hover {
	background-color:#5cbf2a;
}
.getResultButton:active {
	position:relative;
	top:1px;
}

.allResultsButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:8px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.allResultsButton:hover {
	background-color:#5cbf2a;
}
.allResultsButton:active {
	position:relative;
	top:1px;
}
